body {
  background-image: url("../img/fog-forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  background-color: #fff9d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Suez One', serif;
  text-align: center;
  padding: 10px;
}

.container-fluid img {
  width: 150px;
}

.container-fluid h1 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  font-size: 4em;
}

nav {
  background-color: rgba(36, 36, 36, 0.781);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav .nav-link:hover {
  color: black;
  background-color: #fff9d6;
  border-radius: 25px;
}

nav a {
  color: white;
}

.formulaire {
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  /*border: 3px solid green;*/
  color: white;
  text-shadow: 0px 0px 5px black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.692))), url("../img/forest.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.692)), url("../img/forest.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.692)), url("../img/forest.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.692)), url("../img/forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.formulaire .form-control {
  border: 0px solid white;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.801);
}

.formulaire .btnsubmit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: #fff9d6;
  border: 0px;
  width: 100px;
}

.formulaire .btnsubmit:hover {
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 640px) {
  .leftboar, .rightboar {
    display: none;
  }
  .restoname {
    font-size: 8px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
